<h1>Volunteer Dashboard</h1>

<p *ngIf="!clients"><em>Loading...</em></p>

<table class='table' *ngIf="clients">
<!--    <thead>-->
<!--        <tr>-->
<!--            <th>Date</th>-->
<!--            <th>Temp. (C)</th>-->
<!--            <th>Temp. (F)</th>-->
<!--            <th>Summary</th>-->
<!--        </tr>-->
<!--    </thead>-->
    <tbody>
        <tr *ngFor="let client of clients">
            <td>{{ client.clientId }}</td>
            <td>{{ client.accountName }}</td>
<!--            <td>{{ forecast.temperatureC }}</td>-->
<!--            <td>{{ forecast.temperatureF }}</td>-->
<!--            <td>{{ forecast.summary }}</td>-->
        </tr>
    </tbody>
</table>
