<h1>Volunteer Dashboard</h1>

<div class="row">
    <div class="col-sm-6">
        <span class="h4">Client</span>
        <select class="form-control" [(ngModel)]="selectedClientId" (change)="clientChanged(selectedClientId)">
            <option *ngFor="let client of clients" [value]="client.clientId">{{client.accountName}}</option>
        </select>
    </div>
</div>

<br />

<p *ngIf="!volPools"><em>Please select a Client...</em></p>

<table class='table table-striped table-bordered' *ngIf="volPools">
    <thead>
        <tr>
            <th>ID</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let volPool of volPools">
            <td>{{ volPool.candidateId }}</td>
            <td>{{ volPool.lastName }}</td>
            <td>{{ volPool.firstName }}</td>
            <td>{{ volPool.status }}</td>
        </tr>
    </tbody>
</table>
